/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #343F4F;
}

header{
    background-color: rgb(31, 32, 48);
    padding-top: 10px;
    padding-bottom: 10px;
}
header h1{
    text-align: left;
    font-family: var(--font1);
    color: rgb(194, 194, 194);
    padding-left: 20px;
}
header p{
    text-align: left;
    color: aliceblue;
    font-weight: bold;
    padding-left: 30px;
}
header #profile{
    width: 50px;
    position: absolute;
    right: 25px;
    top: 13px;
}
#perfil{
    text-align: center;
    background-color:rgb(83, 53, 204);
    margin-right: 26px;
    padding: 2px;
    margin-left: 94%;
    border-radius: 5px;
}
header a:hover{
    text-decoration: underline;
    background-color: #a68dc9;
}
#logo{
    width: 135px;
    position: absolute;
    bottom: 540px;
    right: 0;
    left: 20px;
    top: 27px;
    margin: auto;
    border: 10px;
    border-radius: 65px;
    display: none;
    box-shadow: 1px 5px 6px 1px;
}
#logo2{
    display: block;
    width: 90px;
    position: absolute;
    bottom: 625px;
    right: 0;
    left: 40px;
    top: 27px;
    margin: auto;
    border: 10px;
    border-radius: 65px;
    box-shadow: 1px 5px 6px 1px;
}

@media(min-width: 850px)
{
    #logo{display: block;}
    #logo2{display: none;}
}
header a{
    text-decoration: none;
    color: aliceblue;
}
nav{
    background-color:rgb(83, 53, 204);
    text-align: left;
    border-radius: 3px;
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;
}
nav a{
    margin-left: 15px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font1);
}
nav a:hover{
    text-decoration: underline;
    background-color: #6E34BF;
    padding: 4px;
    border-radius: 3px;
}
nav img{
    width: 3%;
}
.wrapper{
    display: block;
    max-width: 1200PX;
    position: relative;
    left: 50px;
    bottom: 250px;
}
h1{
    margin-top: 45px;
    margin-left: 45px;
    margin-bottom: 0%;
}
.wrapper i{
  top: 81%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
    left: -22px;
    display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
    margin-top: 22%;
    height: 200px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}


@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
      }
}


@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%;
      }
}

