@charset "UTF-8";

*{margin: 0%; padding: 0%; }

body{
    background-color: rgb(255, 255, 255);
}
#ft1{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 10px;
}
#trxsh{
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
}
nav{
    background-color: rgb(255, 255, 255);
    padding: 4%;
    padding-left: 10%;
    box-shadow: 10px;
}
nav a{
    color: black;
    text-decoration: none;
    padding-right: 30px;
    font-family: helvetica;
}
nav a:hover{
    text-decoration: underline;
}
nav a>img{
    display: block;
    position: absolute;
    bottom: 85%;
    left: 88%;
    width: 25px;
}
#img:hover{
    width: 25.9px;
}
#img2:hover{
    width: 25.8px;
}
#img2{
    width: 25px;
    display: none;
    position: absolute;
    left: 88%;
}
@media (min-width: 650px)
{
    #img{display: none;}
    #img2{display: block;}
}


